---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .site-header {
  background-color: #70110C;
  color: #F2EBD7;
  border-bottom: 4px solid #F2EBD7;
}

.site-title,
.site-title:visited {
  color: #F2EBD7 !important;
}

.site-nav .nav-item,
.site-nav .nav-item:visited {
  color: #F2EBD7;
}

.site-nav .nav-item:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.post-title {
  color: #70110C;
}

a {
  color: #70110C;
}

a:hover {
  color: #9e1b32;
}

